* {
    margin: 0 auto;
    max-width: 56rem;
}

header {
    background-image: url(../images/greenleaves.png);
    height: 6rem;
    padding: 2rem;
}
header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 1px 1px green;
}
header h2 {
    margin-top: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 1px 1px green;
}
footer {
    padding: 1rem;
    background-color: rgb(87, 109, 87);
    color: white;
    font-family: sans-serif;
    text-align: center;
}
div#mainblock {
    display: flex;
    flex-direction: row;
}
div#leftside {
    margin-left: 0;
    flex-direction: column;
}
div.buttonblock {
    display: flex;
    flex-direction: column;
}
div.buttonblock button {
    margin-left: 0;
    color: rgb(25, 131, 69);
    font-size: 1.1rem;
    padding: 0.3rem;
    border-radius: 0rem;
    box-shadow: 2px 2px rgb(218, 233, 230);
    border-radius: 0.2rem;
    margin-bottom: 0.5rem;
    width: 20rem;
}
div.buttonblock button:hover {
    background-color: rgb(196, 214, 204);
}
main h1 {
    font-family: sans-serif;
    color: green;
    margin-top: 1rem;
    text-align: left;
}
main h2 {
    color: rgb(31, 85, 85);
    margin-top: 2rem;
    font-family: sans-serif;
}
main ul {
    text-decoration: none;
    font-family: monospace;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-left: -1rem;
}
main p {
    font-family: sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    max-width: 33rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
div#treelist {
    color: rgb(14, 61, 14);
    margin-top: 1rem;
    font-family: monospace;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: rgb(196, 214, 204);
    border-radius: 0.3rem;
}
div#treelist span {
    color: darkblue;
    font-size: 1.2rem;
}
div#error {
    color: rgb(255, 30, 0);
    font-family: monospace;
    font-size: 1.5rem;
    background-color: rgb(228, 228, 228);
    padding: 1rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
}
