/* header styling */
header {
    max-width: 960px;
    margin: 0 auto;
    background-image: url("../images/JoesPancakes.PNG");
    height: 200px;
    display: flex;
    flex-direction: column;
    font-family: verdana;
    font-style: oblique;
    text-shadow: 1px 1px #79c9bb;
    border-radius: 1rem 1rem 0rem 0rem;
}

header h1 {
    color: #fff;
    margin: 2rem;
}

header h2 {
    color: #fff;
    margin: 2rem;
}

/* main styling */

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 960px;
    font-family: 'Segoe UI';
    background-color: #d6e9e5;
    height: 430px;

}

main ul {
    padding-left: 3.2rem;
}

main h1 {
    padding-left: 2rem;
    color: #03361a;
    margin-bottom: -0.5rem;
}

main h2 {
    padding-left: 2rem;
    color: #436de2;
}

main p {
    padding-left: 2rem;
}
/* footer styling */

footer {
    max-width: 960px;
    margin: 0 auto;
    background-color: #79c9bb;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    text-align: center;
    font-family: verdana;
    font-weight: bold;
    border-radius: 0rem 0rem 1rem 1rem;
}

