* {
    margin: 0 auto;
    max-width: 56rem;
}

header {
    background-image: url(../images/casino2.PNG);
    height: 6rem;
    padding: 2rem;
}
header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 1px 1px rgb(28, 167, 63);
}
header h2 {
    margin-top: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 1px 1px rgb(28, 167, 63);
}
footer {
    padding: 1rem;
    background-color: darkred;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

div#gamearea {
    height: 18rem;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(75, 39, 22);
    border-radius: 2rem;
    margin-bottom: 1rem;
}
div#gamearea h2 {
    color: darkblue;
    margin-top: 0.5rem;
}

main h1 {
    font-family: sans-serif;
    color: darkred;
    margin-left: 2rem;
    margin-top: 1rem;
}
main h2 {
    color: darkblue;
    margin-top: 2rem;
    font-family: sans-serif;
    margin-left: 2rem;
}
main ul {
    text-decoration: none;
    font-family: monospace;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
main p {
    font-family: monospace;
    font-size: 1.2rem;
    margin-left: 2rem;
    max-width: 33rem;
    margin-bottom: 2rem;
}
div.gamelist {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(167, 218, 190);
    width: 10rem;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
}
div.gamelist h2 {
    margin: 0;
}
input#guesser {
    margin-top: 2rem;
    width: 8rem;
    height: 2rem;
    font-size: 1rem;
    text-align: center;
}
div.gamelist button {
    width: 8rem;
    margin-top: 2rem;
    height: 2rem;
    text-align: center;
}
div.gamelist p {
    font-size: 1rem;
    text-align: center;
    display: flex;
    margin: auto;
}
div.gamelist h2#tries {
    color: darkred;
    margin: auto;
    font-size: 3rem;
}
div#ribbonpic img {
    height: 10rem;
    margin-top: 1rem;
    border-radius: 1rem;
}
